<style>
.alert {
     display: none;
}
.notice {
     display: none;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="/">&nbsp;Homepage</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/projectlists">Projects portal</a>
    </li>
    <% if !user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href="/users/sign_in">Sign in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/sign_up">Sign up</a>
    </li>
    <% end %>
    <% if user_signed_in? %>
    <li class="nav-item">
    <a class="nav-link" href="/users/logout">Logout</a>
    </li>
    <% end %>
  </ul>
</div>
</nav>

<div class="jumbotron" style="background:#e9ecef;">
  <br>
  <h1 class="display-4"><center>Welcome to the portfolio center.</center></h1>
  <p class="lead"><center>This will be your one-stop shop for displaying information about your portfolio to the world.</center></p>
  <hr class="my-4">
  <% if !user_signed_in? %>
  <p><center>Feel free to browse the table below which has currently posted projects, or <a href="/users/sign_up">sign up</a> to add to the growing collection!</center></p><br>
  <% else %>
  <p><center>You are logged into your account. Therefore you can visit the <a href="/projectlists">projects portal</a> to gain further project access.</center></p>
  <% end %>
  <hr>
  <p><center>This portfolio was developed in Ruby, integrated with Heroku. It was developed by Anthony B. over the course of a semester to showcase student projects.<br>
  This portfolio had many different iteration requirements, and the most important is the project views. I decided to limit the full project view to logged in accounts only<br>
  while providing not logged in users with a shortened portfolio view which you can see in the table below. Come register an account with us and see the full experience in action. </center></p><br>
</div>
<center>
<% @projectlists.all.each do |projectlist| %>
  <br>
  <div class="card-deck">
  <div class="card" style="width: 90rem;">
  <div class="card-body">
    <h5 class="card-title">Username: <%= projectlist.username %></h5>
    <hr>
    <p class="card-text">          
    <tr>
    <br><td><b>Author:</b> <%= projectlist.name %></td>
    <br><td><b>Language(s):</b> <%= projectlist.language %></td>
    <br><td><b>Description:</b> <%= projectlist.description %></td>
    <br><td><b>Status:</b> <%= projectlist.status %></td>
    <br><td><b>Repo URL:</b> <%= projectlist.RepoURL %></td>
    <br></tr></p>
    <% if !user_signed_in? %>
    <a href="/users/sign_in" class="btn btn-primary">Sign up or sign in to view the detailed page</a>
    <% else %>
    <a href="/projectlists" class="btn btn-primary">Visit the portal for modifications</a>
    <% end %>
  </div>
</div>
</div>
<% end %>
</center>

<p><p><p>
<div class="navbar fixed-bottom bg-dark">
<center><a class="nav-link" href="">©2021 Portfolio Heroku App | All rights reserved.</a></center>
</div>