
<%= form_with(model: projectlist, local: true) do |form| %>
  <% if projectlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projectlist.errors.count, "error") %> prohibited this projectlist from being saved:</h2>

      <ul>
      <% projectlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :RepoURL %>
    <%= form.text_field :RepoURL %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
