<style>
.alert {
     display: none;
}
.notice {
     display: none;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="/">&nbsp;Homepage</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/projectlists">Projects portal</a>
    </li>
    <% if !user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href="/users/sign_in">Sign in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/sign_up">Sign up</a>
    </li>
    <% end %>
    <% if user_signed_in? %>
    <li class="nav-item">
    <a class="nav-link" href="/users/logout">Logout</a>
    </li>
    <% end %>
  </ul>
</div>
</nav>

<div class="jumbotron" style="background:#e9ecef;">
  <br>
  <h1 class="display-4"><center>Welcome to the Projects Portal</center></h1>
  <p class="lead"><center>This will be your one-stop shop for displaying information about your portfolio to the world.</center></p>
  <hr class="my-4">
  <p><center>You are logged into your account. Therefore you can view, edit, and delete projects via the table below.</center></p><br>
</div>

<% provide(:description, 'Home') %>

<h1 class="display-6"><center><%= link_to 'Add new project', new_projectlist_path %>
</center></h1>
<hr>

<center>
<% @projectlists.all.each do |projectlist| %>
  <br>
  <div class="card-deck">
  <div class="card" style="width: 90rem;">
  <div class="card-body">
    <h5 class="card-title">Username: <%= projectlist.username %></h5>
    <hr>
    <p class="card-text">          
    <tr>
    <br><td><b>Author:</b> <%= projectlist.name %></td> 
    <br><td><b>Language(s):</b> <%= projectlist.language %></td>
    <br><td><b>Description:</b> <%= projectlist.description %></td>
    <br><td><b>Status:</b> <%= projectlist.status %></td>
    <br><td><b>Repo URL:</b> <%= projectlist.RepoURL %></td>
    <br></tr></p>
    <td><%= link_to 'View project', projectlist %></td> | 
    <td><%= link_to 'Edit project', edit_projectlist_path(projectlist) %></td> | 
    <td><%= link_to 'Delete project', projectlist, method: :delete, data: { confirm: 'This action will remove the post and is irreversible. Are you sure?' } %></td>
  </div>
</div>
</div>
<% end %>
</center>

<p><p><p>
<div class="navbar fixed-bottom bg-dark">
<center><a class="nav-link" href="">©2021 Portfolio Heroku App | All rights reserved.</a></center>
</div>
